
html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

.app-container {
  height: 100%;
  width: 95%;
  margin: 0 auto;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
